/* newTable, newRow, addressHeader, emptySlotsHeader, availableBikesHeader {
  background-color: red;
} */

body {
  background: rgb(180, 215, 233);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  /* background-image: url('images/ADBC_Bikeshare_bike_station.jpeg');
  background-repeat: no-repeat;
  background-size: 150%; */
/*not sure if this color default will work yet
  color: var(--color-fg-default);
  background-color: var(--color-canvas-default);

  --color-fg-default: #c9d1d9;
  --color-canvas-default: #0d1117;
end here */
}


.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

#footer{
  position: fixed;
  bottom:0;
  left:0;
  background-color: whitesmoke;
 }


 form {
  background-color: whitesmoke;
  width: 0px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column1 {
  float: left;
  text-align: center;
  position: auto;
  background-color: transparent;
  width: 100%;
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  align-items: center;
  clear: both;
}
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.container {
  position: relative;
  margin: 0 auto;
  width: auto;
  height: auto;
  border: black;
  background-color: transparent;
  list-style: none;
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  /* text-align: left;
  float: left;
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  display: inline; */
}


.list {
  display: block;
  text-align: left;
  padding: 10px 3;
}