body {
  background: rgb(180, 215, 233);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

/*not sure if this color default will work yet
  color: var(--color-fg-default);
  background-color: var(--color-canvas-default);

  --color-fg-default: #c9d1d9;
  --color-canvas-default: #0d1117;
end here */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}



#footer{
  position:fixed;
  bottom:0;
  left:0;
 }