/* newTable, newRow, addressHeader, emptySlotsHeader, availableBikesHeader {
  background-color: red;
} */

body {
  background: #000000;
  font-family: Verdana, Tahoma;
  font-size: 14px;
  color: #fdfffc;
}


.center {
  display: block;
  position: auto;
  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #011627;
  height:auto;
  width: 70%;
}

.mouse {
  cursor: url(images/favicon-32x32.png), auto;
}

.center1 {
  display: block;
  position: auto;
  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #011627;
  height:auto;
  width: 100%;
}

#footer{
  position: relative;
  bottom:0;
  left:0;

 }


 form {
  background-color: #000000;
  color: #fdfffc;
  font-family: Verdana, Tahoma;
  font-size: 14px;
  width: 0px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.darkmode {
  background-color: #fdfffc;
  color: #011627;
}

.togglemode{
  color: #ff9f1c;
  background-color: #c3f6f1;
}

.linemode {
  background-color: #ff9f1c;
  color: #ff9f1c;
}

.column1 {
  font-family: Verdana, Tahoma;
  font-size: 14px;
  float: left;
  text-align: center;
  position: auto;
  background-color: transparent;
  width: 100%;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  align-items: center;
  clear: both;
}
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.container1 {
  font-family: Verdana, Tahoma;
  font-size: 14px;
  position: relative;
  margin: 0 auto;
  width: auto;
  height: auto;
  border: black;
  background-color: transparent;
  list-style: none;
  column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  /* text-align: left;
  float: left;
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  display: inline; */
}


.list {
  font-family: Verdana, Tahoma;
  font-size: 14px;
  display: block;
  text-align: left;
  padding: 10px 3;
}